<div
  class="font-[sans-serif] bg-gradient-to-b from-lime-600 via-lime-700 to-lime-800 text-ground"
>
  <div
    class="min-h-screen flex flex-col items-center justify-center lg:p-6 p-4"
  >
    <div class="grid grid-cols-2 items-center gap-10 max-w-[80vw] w-full">
      <div>
        <h2
          class="text-5xl font-extrabold lg:leading-[50px] text-white text-justify"
        >
          Page Not Found
        </h2>
        <p class="text-lg mt-6 text-white pb-20 text-justify">
          <a routerLink="">Back to Home</a>
        </p>
      </div>

      
    </div>
    <div>
      <img
        src="assets/recycle-symbol.png"
        alt=""
        class="absolute w-52 left-80 bottom-14 mx-auto"
      />
    </div>
  </div>
</div>
