<div class="min-h-screen mt-10 flex flex-col items-center">
  <div class="min-w-[80vw] max-w-[80vw]">
    <div class="grid grid-cols-3 gap-6 mt-5">
      <div
        *ngFor="let item of reservationAttempt"
        class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow border border-gray-200"
      >
        <!-- Seção do Anúncio -->
        <div class="mb-4 pb-4 border-b border-gray-300">
          <h2 class="text-lg font-semibold text-lime-900 mb-2">Advertisement Details</h2>
          <p class="text-base text-lime-800"><span class="font-semibold">Title:</span> {{ item.advertisement.title }}</p>
          <p class="text-base text-lime-800">
            <span class="font-semibold">Description:</span> {{ item.advertisement.description }}
          </p>
          <p class="text-base font-semibold"
          [ngClass]="{
            'text-green-600': item.advertisement.status === 'ACTIVE',
            'text-yellow-600': item.advertisement.status === 'INACTIVE',
            'text-red-600': item.advertisement.status === 'CLOSED'
          }">
            <span class="font-semibold">Status:</span> {{ item.advertisement.status }}
          </p>
          <p class="text-base text-lime-800"><span class="font-semibold">Creation Date:</span> {{ item.advertisement.date }}</p>
        </div>

        <!-- Seção da Solicitação -->
        <div>
          <h2 class="text-lg font-semibold text-lime-900 mb-2">Request Details</h2>
          <p class="text-base text-lime-800"><span class="font-semibold">Client:</span> {{ loggedUser?.name }}</p>
          <p class="text-base text-lime-800"><span class="font-semibold">Requested At:</span> {{ item.date }}</p>
          <p class="text-base font-semibold"
            [ngClass]="{
              'text-green-600': item.status === 'APPROVED',
              'text-yellow-600': item.status === 'PENDING',
              'text-red-600': item.status === 'REJECTED' || item.status === 'CANCELED'
            }">
            <span class="font-semibold">Status:</span> {{ item.status }}
          </p>
        </div>
        <div class="btn">
          <button *ngIf="item.status == 'PENDING'" class="bg-red-600 text-white px-4 py-2 rounded-lg shadow hover:bg-red-800 transition-colors" (click)="onChangeStatus(item.id || '','CANCELED')">Cancel</button>
        </div>

      </div>
    </div>
  </div>
</div>
