<div
  class="font-[sans-serif] bg-gradient-to-b from-lime-600 via-lime-700 to-lime-800 text-gray-800"
>
  <div
    class="min-h-screen flex flex-col items-center justify-center lg:p-6 p-4"
  >
    <div class="grid md:grid-cols-2 items-center gap-10 max-w-[80vw] w-full">
      <div class="pb-20">
        <h2 class="text-5xl font-extrabold leading-[50px] text-white">
          Join the Come and Get Community!
        </h2>
        <p class="text-xl mt-6 text-white text-justify">
          Ready to make a difference? At Come and Get, every item you give or
          receive helps build a more connected and caring community. By signing
          up, you become part of a network where generosity meets need.
          <br /><br />
          Create your account today and start sharing, connecting, and making a
          positive impact in your community!
        </p>
        <p class="text-md mt-6 text-white">
          Already have an account?
          <a
            href="javascript:void(0);"
            class="text-white font-semibold underline ml-1"
            (click)="loginUser()"
            >Log in here</a
          >
        </p>
      </div>

      <form
        [formGroup]="registerForm"
        (ngSubmit)="onSubmit()"
        class="bg-white rounded-xl px-6 py-6 space-y-4 max-w-[30vw] md:ml-auto w-full mt-28 mb-32"
      >
        <h3 class="text-4xl font-extrabold mb-8 text-center text-ground">
          Create Account
        </h3>

        <!-- Name Input -->
        <div class="text-md">
          <label for="name" class="block font-medium text-ground mb-1"
            >Name:</label
          >
          <input
            type="text"
            id="name"
            placeholder="Name"
            formControlName="name"
            class="bg-gray-100 focus:bg-transparent w-full px-4 py-3.5 rounded-md outline-ground"
          />
          <div
            *ngIf="
              registerForm.get('name')?.invalid &&
              registerForm.get('name')?.touched
            "
            class="validation-error"
          >
            <p>Name is required</p>
          </div>
        </div>

        <!-- Phone Input -->
        <div>
          <label for="phoneNumber" class="block font-medium text-ground mb-1"
            >Phone:</label
          >
          <input
            type="text"
            id="phone"
            placeholder="Phone number"
            formControlName="phoneNumber"
            class="bg-gray-100 focus:bg-transparent w-full px-4 py-3.5 rounded-md outline-ground"
          />
        </div>

        <!-- Username Input -->
        <div>
          <label for="username" class="block font-medium text-ground mb-1"
            >Username:</label
          >
          <input
            type="text"
            id="username"
            placeholder="Username"
            formControlName="username"
            class="bg-gray-100 focus:bg-transparent w-full px-4 py-3.5 rounded-md outline-ground"
          />
          <div
            *ngIf="
              registerForm.get('username')?.invalid &&
              registerForm.get('username')?.touched
            "
            class="validation-error"
          >
            <p *ngIf="registerForm.get('username')!.errors?.['required']">
              Username is required.
            </p>
          </div>
        </div>

        <!-- Email Input -->
        <div>
          <label for="email" class="block font-medium text-ground mb-1"
            >Email:</label
          >
          <input
            type="text"
            id="email"
            placeholder="exemples@exemple.com"
            formControlName="email"
            class="bg-gray-100 focus:bg-transparent w-full px-4 py-3.5 rounded-md outline-ground"
          />
          <div
            *ngIf="
              registerForm.get('email')?.invalid &&
              registerForm.get('email')?.touched
            "
            class="validation-error"
          >
            <p *ngIf="registerForm.get('email')!.errors?.['required']">
              Valid email is required.
            </p>
          </div>
        </div>

        <!-- Password Input -->
        <div>
          <label for="password" class="block font-medium text-ground mb-1"
            >Password:</label
          >
          <input
            type="password"
            id="password"
            placeholder="Password"
            formControlName="password"
            class="bg-gray-100 focus:bg-transparent w-full px-4 py-3.5 rounded-md outline-ground"
          />

          <div
            class="flex items-start validation-error"
            *ngIf="
              registerForm.get('password')?.invalid &&
              registerForm.get('password')?.touched
            "
          >
            <p *ngIf="registerForm.get('password')?.errors?.['required']">
              Password is required.
            </p>
            <div class="flex flex-col">
              <p *ngIf="registerForm.get('password')?.errors?.['minlength']">
                Password must be at least 8 characters long.
              </p>
              <div *ngIf="registerForm.get('password')?.errors?.['pattern']">
                <p class="font-medium">Password must contain:</p>
                <ul class="list-disc pl-4">
                  <li *ngIf="isPasswordMissing(uppercasePattern)">
                    at least one uppercase letter
                  </li>
                  <li *ngIf="isPasswordMissing(lowercasePattern)">
                    at least one lowercase letter
                  </li>
                  <li *ngIf="isPasswordMissing(numberPattern)">
                    at least one number
                  </li>
                  <li *ngIf="isPasswordMissing(specialPattern)">
                    at least one special character
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>

        <div class="flex gap-4 mt-4">
          <button
            type="submit"
            [disabled]="registerForm.invalid"
            class="w-full shadow-xl py-3 px-6 font-semibold rounded-md text-white bg-ground hover:bg-[#222] focus:outline-none"
            [class]="
              registerForm.invalid ? 'cursor-not-allowed' : 'cursor-pointer'
            "
          >
            Create
          </button>

          <!-- Return to Login Button -->
          <button
            type="button"
            (click)="loginUser()"
            class="w-full font-semibold rounded-md text-gray-800 border border-gray-800 py-2 px-6 hover:bg-gray-100"
          >
            Return to LogIn
          </button>
        </div>

        <div *ngIf="isLoading" class="mx-auto my-6 w-[3vw]">
          <img src="../../../assets/loading.gif" alt="Loading gif">
        </div>
      </form>

    </div>
  </div>
</div>
