<!-- Footer -->

<footer class="relative bg-ground text-white pt-12">
  <!-- Onda SVG ocupando 100% da largura -->
  <div class="absolute -top-24 left-0 w-full overflow-hidden text-ground">
    <svg
      class="w-full h-32 md:h-40 xl:h-48"
      viewBox="30 0 1300 450"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
    >
      <path
        class="w-full"
        fill="currentColor"
        d="M0,250L80,180C160,100,320,40,480,40C640,30,800,90,960,140C1120,190,1280,220,1360,230L1440,240V320H0Z"
      />
      />
    </svg>
  </div>
  <!-- Conteúdo do Footer -->
  <div class="relative z-10 flex flex-col items-center text-center px-6 pb-10">
    <img src="assets/Logo2.png" alt="Logo" class="h-32 mb-4" />

    <ul class="flex space-x-6 text-lg text-lime-400">
      <li>
        <a href="#" class="hover:text-lime-200"
          ><i class="fa-solid fa-lg fa-envelope"></i
        ></a>
      </li>
      <li>
        <a href="#" class="hover:text-lime-200"
          ><i class="fa-solid fa-lg fa-info-circle"></i
        ></a>
      </li>
      <li>
        <a href="#" class="hover:text-lime-200"
          ><i class="fa-brands fa-lg fa-instagram"></i
        ></a>
      </li>
      <li>
        <a href="#" class="hover:text-lime-200"
          ><i class="fa-brands fa-lg fa-facebook"></i
        ></a>
      </li>
    </ul>

    <p class="text-md text-lime-400 mt-4 pb-4">
      &copy; 2025 Come And Get. All rights reserved.
    </p>
  </div>
</footer>
