<div class="min-h-screen mt-20 bg-lime-900 flex flex-col items-center">
  <div class="min-w-[80vw] max-w-[80vw] mb-40">
    <!-- Título -->
    <div class="mt-20 px-4 text-center mb-10">
      <h1 class="font-bold text-white text-4xl md:text-6xl">
        Advertisements Dashboard
      </h1>

      <div class="w-[40vw] mx-auto">
        <ngx-datatable class="bootstrap table bg-white fixed-header mb-20" [rows]="advertisements"
          [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'">
          <ngx-datatable-column *ngFor="let col of columns" [name]="col.name" [width]="col.width"
            [prop]="col.prop"></ngx-datatable-column>

          <ngx-datatable-column name="See details" [width]="20">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button type="button">
                <i class="fas fa-eye"></i>
              </button>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Delete" [width]="20">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button type="button">
                <i class="fa-solid fa-trash-can fa-lg"></i>
              </button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>