<div class="mt-20">
  <!-- Hero -->
  <img src="assets/hero.png" alt="" class="max-h-[82vh] w-full object-cover" />
  <!-- Texto rolante no fundo -->
  <div
    class="relative w-full h-[55px] flex items-center justify-center overflow-hidden bg-amber-50"
  >
    <div class="absolute bottom-1 w-full overflow-hidden whitespace-nowrap">
      <div class="flex animate-marquee">
        <h1
          class="marquee-text uppercase font-bold tracking-widest items-center"
        >
          Donate 〰️ Share 〰️ Make a Difference 〰️ Donate 〰️ Share 〰️ Make a
          Difference 〰️ Donate 〰️ Share 〰️ Make a Difference 〰️ Donate 〰️ Share
          〰️ Make a Difference 〰️ Donate 〰️ Share 〰️ Make a Difference 〰️ Donate
          〰️ Share 〰️ Make a Difference 〰️ Donate 〰️ Share 〰️ Make a Difference
          〰️ Donate 〰️ Share 〰️ Make a Difference 〰️
        </h1>
      </div>
    </div>
  </div>

  <!-- Adv Section -->
  <div
    class="h-[130vh] bg-lime-800 text-white text-center py-10 justify-center"
  >
    <h1 class="mt-24 text-5xl font-bold">
      ✨ Share the Love: Available Donations ✨
    </h1>
    <p class="mt-5 text-lg">
      Giving is caring! Explore the latest donated items and find something that
      deserves a second life.<br />
      From clothing to furniture, every item here is ready for a new home.
    </p>
    <div
      class="grid grid-cols-4 max-w-[80vw] mx-auto gap-20 mt-10 place-items-center"
    >
      <app-advertisement-card
        imageSrc="https://i.ebayimg.com/thumbs/images/g/ifgAAOSwudtnYId8/s-l1200.jpg"
        title="Help Give a Second Life!"
        description="This item is looking for a new home. Grab it while you can!"
        buttonText="Get It Now"
      ></app-advertisement-card>
      <app-advertisement-card
        imageSrc="https://i.ebayimg.com/thumbs/images/g/ifgAAOSwudtnYId8/s-l1200.jpg"
        title="Help Give a Second Life!"
        description="This item is looking for a new home. Grab it while you can!"
        buttonText="Get It Now"
      ></app-advertisement-card>
      <app-advertisement-card
        imageSrc="https://i.ebayimg.com/thumbs/images/g/ifgAAOSwudtnYId8/s-l1200.jpg"
        title="Help Give a Second Life!"
        description="This item is looking for a new home. Grab it while you can!"
        buttonText="Get It Now"
      ></app-advertisement-card>
      <app-advertisement-card
        imageSrc="https://i.ebayimg.com/thumbs/images/g/ifgAAOSwudtnYId8/s-l1200.jpg"
        title="Help Give a Second Life!"
        description="This item is looking for a new home. Grab it while you can!"
        buttonText="Get It Now"
      ></app-advertisement-card>
      <h2
        class="text-2xl flex items-center justify-center col-span-4 font-semibold"
      >
        • Check out all available items in our Advertisements section and give
        them a new purpose! •
      </h2>
    </div>
  </div>

  <!-- Tip Section -->
  <div
    class="flex items-center justify-center h-[100vh] bg-amber-50 text-center py-10 custom-dotted-pattern"
  >
    <div class="bg-lime-900 rounded-[50px] w-[80vw] h-[70vh]">
      <div class="grid grid-cols-2">
        <div>
          <img
            src="assets/top5.png"
            class="max-h-[70vh] w-full object-cover rounded-l-[50px]"
          />
        </div>
        <div class="overflow-hidden">
          <h3 class="mt-10 text-2xl p-10 text-white font-light text-left">
            This article will shed light on key pitfalls and provide practical
            tips for more effective and environmentally-friendly recycling
            practices. Stay informed and make a positive impact on the planet by
            ensuring your recycling efforts are on the right track.
          </h3>

          <h2
            class="text-3xl text-white font-semibold p-10 pt-0 pb-5 text-left"
          >
            Are you confident that you’re <b>recycling right</b>?
          </h2>

          <app-button
            buttonText="Read More"
            fontSize="1.5rem"
            padding=".5rem 1rem"
          ></app-button>
        </div>
      </div>
    </div>
  </div>

  <!-- About US Section -->
  <div class="bg-lime-800 h-[130vh]">
    <div class="text-white text-center py-10 max-w-[80vw] mx-auto">
      <h1 class="mt-20 text-5xl font-bold">
        🌟 About Us: Our Mission & Vision 🌟
      </h1>
      <div class="max-h-[80vh] grid grid-cols-2 gap-10 mt-10">
        <div>
          <img src="assets/AboutUS.png" class="h-[80vh] w-full" />
        </div>
        <div class="overflow-hidden">
          <h3 class="text-2xl p-10 text-white font-light text-justify">
            We are a community-driven platform that aims to connect people who
            want to donate items with those who are in need. Our mission is to
            promote sustainability and reduce waste by giving items a second
            life.
            <br />
            The circular economy is all about reusing, repurposing, and
            sharing—creating a sustainable future for everyone. Every item you
            pass on is one less in a landfill and one more in the hands of
            someone who truly needs it. Start making a positive impact today.
            Donate, share, and be part of the change! Join us in making a
            difference and spreading kindness!
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
