@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  } /* Move apenas metade do conteúdo */
}

.animate-marquee {
  display: flex;
  width: 200%;
  animation: marquee 60s linear infinite; /* Ajuste a duração conforme necessário */
}

.marquee-text {
  font-size: 1.5rem; /* Seu tamanho de fonte */
  font-weight: bold;
  color: rgb(44, 44, 44);
  white-space: nowrap;
  padding-right: 2rem; /* Espaço entre frases */
}

.custom-dotted-pattern {
  background-image: radial-gradient(circle, #7c7c7c 1px, transparent 1px);
  background-size: 40px 40px; /* Define o espaçamento entre os pontos */
  background-color: #fef3c7; /* Amber-50 */
  opacity: 0.8;
}
