<div
  class="cursor-pointer group relative flex flex-col my-6 bg-white shadow-sm border border-slate-200 rounded-lg w-80 hover:shadow-lg transition-shadow duration-300"
>
  <div class="relative h-48 m-2.5 overflow-hidden text-white rounded-md">
    <img
      class="transition-transform duration-500 ease-[cubic-bezier(0.25, 1, 0.5, 1)] transform group-hover:scale-110"
      [src]="imageSrc"
      [alt]="title"
    />
  </div>
  <div class="px-4">
    <h6 class="mb-2 text-slate-800 text-2xl font-semibold">
      {{ title }}
    </h6>
    <p class="text-slate-600 leading-normal font-light">
      {{ description }}
    </p>
  </div>
  <div class="px-4 pb-4 pt-0 flex justify-center">
    <app-button
      [buttonText]="buttonText"
      fontSize="1rem"
      padding=".5rem 1rem"
    ></app-button>
  </div>
</div>
