<div
  class="cursor-pointer group relative flex flex-col bg-white shadow-md rounded-lg h-[60vh] min-h-[460px] w-[19vw] max-w-[19vw] hover:shadow-lg transition-shadow duration-300 justify-between"
>
  <!-- Imagem -->
  <div
    class="relative h-[70%] w-full overflow-hidden rounded-md p-4"
  >
    <img
      class="object-cover w-full h-full group-hover:scale-105 transition-transform duration-500 ease-[cubic-bezier(0.25,1,0.5,1)]"
      [src]="imageSrc"
      [alt]="title"
    />
  </div>

  <!-- Título e Descrição -->
  <div class="px-4 flex flex-col flex-grow">
    <!-- Título -->
    <h6
      class="mb-2 mt-2 text-slate-800 text-2xl font-semibold leading-none line-clamp-2 text-ellipsis overflow-hidden min-h-[3.5rem]"
    >
      {{ title }}
    </h6>

    <!-- Descrição -->
    <p
      class="text-slate-600 leading-normal font-medium text-lg line-clamp-2 text-ellipsis overflow-hidden min-h-[3.5rem] text-left"
    >
      {{ description }}
    </p>
  </div>

  <!-- Botão -->
  <div class="flex justify-center mt-auto mb-6">
    <app-button
      [buttonText]="buttonText"
      fontSize="1rem"
      padding=".5rem 1rem"
      class="mb-6"
    ></app-button>
  </div>
</div>
