<div class="min-h-screen mt-20 bg-lime-100 flex flex-col items-center">
  <div class="min-w-[80vw] max-w-[80vw]">
    <!-- Título -->
    <div class="mt-20 px-4 text-center">
      <h1 class="font-bold text-lime-900 text-4xl md:text-6xl">
        Advertisements
      </h1>
    </div>

    <!-- Filtros: Categoria e Município -->
    <div class="w-full flex justify-end items-center mt-10">
      <!-- Filtro por Categoria -->
      <label for="selectCategory" class="text-lime-900 text-lg font-bold mr-3">
        Filter by Category:
      </label>
      <select id="selectCategory" name="selectCategory" (change)="filterByCategory($event.target)"
        class="bg-white text-lime-800 font-semibold border border-lime-500 rounded-lg py-2 px-4 focus:outline-none focus:ring-2 focus:ring-lime-500">
        <option value="all" selected>All Categories</option>
        <option *ngFor="let category of allCategories" [value]="category.designation" class="text-lime-900">
          {{ category.designation }}
        </option>
      </select>

      <!-- Filtro por Município -->
      <label for="selectMunicipality" class="text-lime-900 text-lg font-bold mr-3 ml-10">
        Filter by Municipality:
      </label>
      <select id="selectMunicipality" name="selectMunicipality" (change)="filterByMunicipality($event.target)"
        class="bg-white text-lime-800 font-semibold border border-lime-500 rounded-lg py-2 px-4 focus:outline-none focus:ring-2 focus:ring-lime-500">
        <option value="all" selected>All Municipalities</option>
        <option *ngFor="let municipality of allMunicipalities" [value]="municipality" class="text-lime-900">
          {{ municipality }}
        </option>
      </select>
    </div>

    <!-- Grid de Anúncios -->
    <div class="w-full mt-14 pb-20 mb-60">
      <div *ngIf="selectedCategory === 'all' || existingAdv > 0">
        <div class="grid grid-cols-4 gap-10">
          <div *ngFor="let adv of advCollection; track: trackIndex">
            <div *ngIf="selectedCategory === 'all' || selectedCategory === adv.item.category.designation">
              <div class="cursor-pointer flex flex-col justify-between" (click)="openModal(adv)">
                <app-advertisement-card [imageSrc]="getSafeImageUrl(adv.item.image)" [title]="adv.title"
                  [description]="adv.description">
                </app-advertisement-card>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h1 *ngIf="existingAdv === 0"  class="mt-20 flex justify-center font-semibold text-lime-900 text-3xl text-center">
        Sorry! No Advertisements found.
      </h1>
    </div>

    <!-- Modal -->
    <app-advertisement-modal *ngIf="openedModal && selectedAdv" [selectedAdv]="selectedAdv" (modalClosed)="closeModal()" [isLogged]="isLogged">
    </app-advertisement-modal>

  </div>
</div>
