<div class="min-h-screen mt-20 bg-lime-100 flex flex-col items-center">
  <div class="min-w-[80vw] max-w-[80vw]">
    <!-- Título -->
    <div class="mt-20 px-4 text-center">
      <h1 class="font-bold text-lime-900 text-4xl md:text-6xl">
        Advertisements
      </h1>
    </div>

    <!--filter-->
    <div class="w-full flex justify-end items-center mt-10">
      <label for="selectCategory" class="text-lime-900 text-lg font-bold mr-3">
        Filter by Category:
      </label>
      <select id="selectCategory" name="selectCategory" (change)="filterByCategory($event.target)"
        class="bg-white text-lime-800 font-semibold border border-lime-500 rounded-lg py-2 px-4 focus:outline-none focus:ring-2 focus:ring-lime-500">
        <option value="all" selected>All Categories</option>
        @for (category of allCategories; track $index) {
        <option [value]="category.designation" class="text-lime-900">
          {{ category.designation }}
        </option>
        }
      </select>
    </div>

    <!--grid adv-->
    <div class="w-full mt-14 pb-20 mb-60">
      @if(this.selectedCategory == 'all' || existingAdv > 0) {
      <div class="grid grid-cols-4 gap-10">
        @for (adv of advCollection; track $index) { @if(this.selectedCategory ==
        adv.item.category.designation || this.selectedCategory == 'all'){
        <div class="cursor-pointer flex flex-col justify-between" (click)="openModal(adv)">
          <app-advertisement-card [imageSrc]="getSafeImageUrl(adv.item.image)" [title]="adv.title"
            [description]="adv.description">
          </app-advertisement-card>
        </div>
        } }
      </div>
      } @else {
      <h1 class="mt-20 flex justify-center font-semibold text-lime-900 text-3xl text-center">
        Sorry! No Advertisments found.
      </h1>
      }
    </div>

    <!-- Modal -->
    <div *ngIf="openedModal" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50 py-20"
      (click)="closeModalOut($event)">
      <div
        class="bg-white p-8 rounded-xl shadow-2xl w-11/12 md:w-2/3 lg:w-1/2 max-h-[calc(100vh-10rem)] overflow-y-auto"
        (click)="$event.stopPropagation()">
        <div class="flex justify-end">
          <button type="button" (click)="closeModal()"
            class="text-xl text-lime-600 font-bold hover:text-lime-800 transition-colors">
            X
          </button>
        </div>

        <h3 class="text-3xl font-bold text-lime-900 mb-4 text-center">
          {{ selectedAdv?.title }}
        </h3>
        <!-- Conteúdo do Modal -->
        <div class="grid grid-cols-1 gap-6">

          <!-- Imagem e Texto -->
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <!-- Imagem -->
            <div class="flex items-center justify-center">
              <img [src]="getSafeImageUrl(selectedAdv.item.image)" alt="AdImage"
                class="w-full h-auto max-h-[50vh] object-cover rounded-lg shadow-md" />
            </div>

            <!-- Texto + Botão -->
            <div class="flex flex-col justify-around">
              <div>

                <p class="text-lg text-lime-black mb-4 ">
                  {{ selectedAdv?.description }}
                </p>
                <div class="flex items-center mb-4">
                  <p class="font-semibold text-lg text-black mr-2">
                    Condition:
                  </p>
                  <p class="capitalize text-lg text-black">
                    {{ selectedAdv?.item.condition | titlecase }}
                  </p>
                </div>
                <p class="text-lg text-black mb-2">
                  <span class="font-semibold">Localization:</span> {{ selectedAdv?.municipality }}
                </p>
                <p class="text-lg text-black mb-4">
                  <span class="font-semibold">Date:</span> {{ selectedAdv?.date }}
                </p>
              </div>

              <!-- Botão -->
              <div class="mt-4">
                <app-button-create-res-attempt [advertisementId]="selectedAdv.id"></app-button-create-res-attempt>
              </div>
            </div>
          </div>

          <!-- Mapa -->
          <div class="col-span-2 w-full h-96 md:h-[50vh] lg:h-[60vh] mt-6">
            <app-map [municipality]="selectedAdv?.municipality"></app-map>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>