<div class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50 py-20"
    (click)="closeModalOut($event)">
    <div class="bg-white p-8 rounded-xl shadow-2xl w-11/12 md:w-2/3 lg:w-1/2 max-h-[calc(100vh-10rem)] overflow-y-auto"
        (click)="$event.stopPropagation()">
        <div class="flex justify-end">
            <button type="button" (click)="closeModal()"
                class="text-xl text-lime-600 font-bold hover:text-lime-800 transition-colors">
                X
            </button>
        </div>

        <h3 class="text-3xl font-bold text-lime-900 mb-4 text-center">
            {{ selectedTip?.title }}
        </h3>
        <div class="flex items-center justify-center">
            <p>{{ selectedTip?.content }}</p>
        </div>
    </div>
</div>